<a href="https://colab.research.google.com/github/irinavalenzuela/SICSS_2022/blob/main/Bootcamp/R_bootcamp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SICSS Bootcamp

Practice based on the online training program offered by the Summer Institute in Computational Social Science (SICSS)

## R Basics
Create and name different types of objects and learn about different classes of objects.

In [2]:
# Create objects (dataset, number, vectors, etc)

myobject <- 2

myobject

[1] 2

In [3]:
# Dataset: combination of vectors
my_vector <- c(1, 2, 3) # each element is separate by a comma. Numerical vector
my_string <- c("this", "is", "a", "vector")

In [5]:
# Function
mean(my_vector)
mean(my_string) # Warning message

[1] 2

Warning message in mean.default(my_string):
“argument is not numeric or logical: returning NA”

[1] NA

In [6]:
#Indexing a vector
my_vector[2]
my_string[4]

[1] 2

[1] "vector"

In [ ]:
# Dataframe