<a href="https://colab.research.google.com/github/irinavalenzuela/SICSS_2022/blob/main/Bootcamp/R_bootcamp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SICSS Bootcamp

Practice based on the online training program offered by the Summer Institute in Computational Social Science (SICSS)

## R Basics
Create and name different types of objects and learn about different classes of objects.

In [2]:
# Create objects (dataset, number, vectors, etc)

myobject <- 2

myobject

[1] 2

In [3]:
# Dataset: combination of vectors
my_vector <- c(1, 2, 3) # each element is separate by a comma. Numerical vector
my_string <- c("this", "is", "a", "vector")

In [4]:
# Function
mean(my_vector)

[1] 2