<a href="https://colab.research.google.com/github/irinavalenzuela/SICSS_2022/blob/main/Bootcamp/R_bootcamp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SICSS Bootcamp

Practice based on the online training program offered by the Summer Institute in Computational Social Science (SICSS)

## R Basics
Create and name different types of objects and learn about different classes of objects.

In [2]:
# Create objects (dataset, number, vectors, etc)

myobject <- 2

myobject

[1] 2

In [3]:
# Dataset: combination of vectors
my_vector <- c(1, 2, 3) # each element is separate by a comma. Numerical vector
my_string <- c("this", "is", "a", "vector")

You can access to the help file for any funtion by typing a ?function. For example: ?mean

In [5]:
# Function
mean(my_vector)
mean(my_string) # Warning message

[1] 2

Warning message in mean.default(my_string):
“argument is not numeric or logical: returning NA”

[1] NA

In [6]:
#Indexing a vector
my_vector[2]
my_string[4]

[1] 2

[1] "vector"

In [17]:
# Dataframe
load("Coronavirus_Tweets.Rdata")
ls() # show dataframe in your workspace
#View(covid_tweets) # view with V (uppercase)
head(covid_tweets,2)

[1] "covid_tweets" "my_string"    "my_vector"    "myobject"

  date                twitter_handle
1 2020-08-20 11:32:09 TomFitton
2 2020-08-13 23:12:26 TomFitton
  tweet_text
1 Surprise! Study confirms you are unlikely to spread #coronavirus unless you exhibit symptoms. Which harkens back to the initial  advice to stay home if you are sick.Any shutdowns, etc. are malicious power politics at this point. And masks are still gross. https://t.co/L0sbyrQKJF
2 .@Twitter preventing medical information from getting to Americans about possible treatment for #Coronavirus. Why?  Because it might benefit @RealDonaldTrump. How many lives have been lost and will be lost because of the political suppression of #Hydroxycholoroquine? https://t.co/hiPmPTFXck
  favorite_count retweet_count language
1 3683           2290          en
2 4646           3777          en

In [ ]:
# Set directory
#setwd("~/Documents")

In [15]:
#Look 
covid_tweets$tweet_text[3]

[1] "Still waiting for those \"gold standard\" randomized, placebo controlled studies that show masks, shutdowns, social distancing, closing schools, scaring people, suppressing voting in person in order to push vote by mail fraud, destroying Constitution prevent #coronavirus spread. https://t.co/cTPZA7RPem"

In [25]:
#Quiz

#2.Extract the 3rd element of the vector using numerical indexing
random_vector <- c("R","is","great")
random_vector[3]

#3. Use R code to identify the data type of some_vector. 
# What is the largest number in this vector? How about the mean value?

some_vector <- c(25555,342343,123123123,4234234,53243234,54324234,5421111,12312312,111231,
                     1231231,12312312,12312312,123123,898972,789872,2343,23423423,2343221,23423,
                     14444,44324222,2342341,124231111,22233345,1111233333,1231231,1231231)

class(some_vector)  # Check data type
max(some_vector)
mean(some_vector)

[1] "great"

[1] "numeric"

[1] 1111233333

[1] 59756995

In [29]:
#Quiz (cont.)

#For the remainder of this quiz, we’ll look at a dataframe called congress. 
# Run the code below to download the dataset from a Github site.

load(url('https://dssoc.github.io/datasets/congress.RData')) 
ls()
head(congress,2)

[1] "congress"         "congress_contact" "covid_tweets"     "my_string"
[5] "my_vector"        "myobject"         "random_vector"    "some_vector"

  bioguide_id full_name      type party    state birthdate  gender birthyear
1 B000944     Sherrod Brown  sen  Democrat OH    1952-11-09 M      1952
2 C000127     Maria Cantwell sen  Democrat WA    1958-10-13 F      1958

In [33]:
# 4. How many rows and columns does the congress dataframe have? 
# Use a function to show its data type. You must use R code to generate these values.

nrow(congress)
ncol(congress)
str(congress) # Check the datatype of each column in dataframe

# 5. What is the average age of all congress members? 
# What is the data type of the birthyear column?



# 6. How much older is Sherrod Brown (a member of congress) 
# compared to the average of members of congress? How about Dianne Feinstein?




# 7. Who are the oldest members of congress?

[1] 539

[1] 8

'data.frame':	539 obs. of  8 variables:
 $ bioguide_id: chr  "B000944" "C000127" "C000141" "C000174" ...
 $ full_name  : chr  "Sherrod Brown" "Maria Cantwell" "Benjamin L. Cardin" "Thomas R. Carper" ...
 $ type       : Factor w/ 2 levels "rep","sen": 2 2 2 2 2 2 2 2 2 2 ...
 $ party      : Factor w/ 3 levels "Democrat","Independent",..: 1 1 1 1 1 1 1 1 2 1 ...
 $ state      : chr  "OH" "WA" "MD" "DE" ...
 $ birthdate  : Date, format: "1952-11-09" "1958-10-13" ...
 $ gender     : Factor w/ 2 levels "F","M": 2 1 2 2 2 1 1 2 2 1 ...
 $ birthyear  : num  1952 1958 1943 1947 1960 ...